@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes fadeIn {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 1s ease forwards;
}

@keyframes pulseSlow {
  0%, 100% { transform: scale(1); opacity: 0.1; }
  50% { transform: scale(1.2); opacity: 0.2; }
}

.animate-pulseSlow {
  animation: pulseSlow 6s infinite;
}

.reveal{
    @apply opacity-0 translate-y-10 transition-all duration-700
}
.reveal.show {
  @apply opacity-100 translate-y-0;
}